.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 20px 0;
    background-color: #C6BAD2;
}

.searchbar-container .searchbar-input {
    padding: 10px;
    /* border: none; */
    border-radius: 5px;
    margin-right: 10px;
    /* width: 300px; */
    font-size: 16px;
    border: 1px solid #C6BAD2;
    color: #C6BAD2;
}

.searchbar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.createCampaign{
    text-decoration: none;
    
}